.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}
.airport-card {
  height: 150px;
  //text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}
.page-wrapper {
  padding: 1rem;
}
.page-header {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
