.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.header-image {
  background-image: url("../../../assets/flight-logo.png");
  background-size: cover;
}
.mat-card-header {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
.form-wrapper {
  display: flex;
  justify-content: space-between;
}
.example-card {
  max-width: 400px;
}
mat-form-field {
  width: 300px;
}
