<mat-dialog-content>
    <h3> <span>Airport: </span>{{data.data.name}}</h3>
  <form class="form-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>Arriving flights in days</mat-label>
      <mat-select (selectionChange)="getValue($event.value)">
        <mat-option *ngFor="let item of time" [value]="item.id">
          {{item.time}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Departing flights days</mat-label>
      <mat-select (selectionChange)="getDepartureValue($event.value)">
        <mat-option *ngFor="let item of time" [value]="item.id">
          {{item.time}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div>
    <h3>Flights</h3>

    <div class="grid-container">
      <mat-card *ngFor="let item of flights">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title><span>ICAO</span> <span>{{item.icao24}}</span></mat-card-title>
<!--          <mat-card-subtitle></mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <span class="item-span">Take off: {{parseDate(item.firstSeen)}}</span><br/>
          <span class="item-span">Landing: {{parseDate(item.lastSeen)}} </span><br/>
          <span class="item-span">Departure Airport: {{item.estDepartureAirport}} </span><br/>
          <span class="item-span">Arrival Airport: {{item.estArrivalAirport}} </span><br/>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>
